.bag-wrapper{
    padding: 0px 20px 20px 20px;
}

.bag-header{
    padding:10px;
}

.bag-header h1{
    font-size: 30px;
}


ul.bag-items li > div{
	display: block;
	float: left;
}

.item-preview{
	height: 200px;
	width: 200px;
	background-image: url('../images/1.jpg');
	border-right: 1px solid #999;
	margin-right: 10px;
	transition: background-size .2s;
}
.item-preview:hover{
	background-size: 150%;
}
.item-preview > a{
	display: block;
	height: 100%;
	width: 100%;
}
.item-detail{

}
.product-name{
	font-size: 30px;
}
}
