/*all the content that might be put on the right side*/
div#content-wrapper{
	height: 100%;
	text-align: left;	
}
.content-inner{
	height: 100%;
	text-align: left;	
}
/* 2 colums layout*/
.l-2cols > * {
	position: relative;
	float: left;
	height: 100%;
}
.col-left{
	width: 40%;
}
.col-right{
	width: 60%;
}
.col-right-container{
	padding: 0px 20px;
}
.col-right-header{
	width: 90%;
	display: block;
	font-size: 40px;
	font-style: italic;
}
hr{
	border: none;
	border-top: 1px solid #ccc;
	background-color: transparent;
}
/*
GRID LAYOUT CONTROL
*/
.grid-layout > ul.grid-items > li{
	position: relative;
	display: block;
	float: left;
}
li > .grid-item-wrapper{
	position: absolute;
	text-align: center;
	padding: 10px;
	top: 0px;
	bottom: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url('../images/1.jpg'); 
	/*default*/
}
/**3 colums grid**/
.gl-3cols >ul.grid-items > li{
	width: 33.33%;
	padding-bottom: 45%;
}
.gl-3cols > ul > li:nth-child(3n+1) > .grid-item-wrapper{
	left: 20px;
	right: 7px;
}
.gl-3cols > ul > li:nth-child(3n+2)> .grid-item-wrapper{
	left: 13px;
	right: 13px;

}
.gl-3cols > ul > li:nth-child(3n+3)> .grid-item-wrapper{
	right: 20px;
	left: 7px;
}
/**2 colums grid**/
.gl-2cols >ul.grid-items> li{
	width: 50%;
	padding-bottom: 60%;
}
.gl-2cols >ul.grid-items> li:nth-child(2n+1) >.grid-item-wrapper{
	left: 20px;
	right: 10px;
}
.gl-2cols >ul.grid-items> li:nth-child(2n+2) >.grid-item-wrapper{
	left: 10px;
	right: 20px;
}
/**1 column grid ***/
.gl-1col > ul.grid-items>li{
	width: 100%;
	padding-bottom: 110%;
}
.gl-1col >ul.grid-items> li > .grid-item-wrapper{
	left: 20px;
	right: 20px;
}

/** table layout **/
ul.tbl-4cols {
}
ul.tbl-4cols > li{
    float: left;
    display: block;
    width: 20%;
    text-align: center;
}
ul.tbl-4cols.col-header{
	font-size: 12px;
	letter-spacing: 1px; 
	font-family: helvetica,sans-serif;
	line-height: 25px;
	background-color: #ccc;
}
ul.tbl-4cols > li:last-child{
    width: 40%;
}
ul.tbl-4cols > li >input{
    width: 70%;
}	
ul.tbl-4cols > li:last-child >input{
    width: 45%;
}
