/*all the content that might be put on the right side*/
div#content-wrapper{
	height: 100%;
	text-align: left;	
}
.content-inner{
	height: 100%;
	text-align: left;	
}
/* 2 colums layout*/
.l-2cols > * {
	position: relative;
	float: left;
	height: 100%;
}
.col-left{
	width: 40%;
}
.col-right{
	width: 60%;
}
.col-right-container{
	padding: 0px 20px;
}
.col-right-header{
	width: 90%;
	display: block;
	font-size: 40px;
	font-style: italic;
}
.col-right hr{
	border: none;
	border-top: 1px solid #ccc;
	background-color: transparent;
}
/*
GRID LAYOUT CONTROL
*/
.grid-layout > ul.grid-items > li{
	position: relative;
	display: block;
	float: left;
}
li > .grid-item-wrapper{
	position: absolute;
	text-align: center;
	padding: 10px;
	top: 0px;
	bottom: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url('../images/1.jpg'); 
	/*default*/
}
.gl-3cols >ul.grid-items > li{
	width: 33.33%;
	padding-bottom: 45%;
}
.gl-3cols li:nth-child(3n+1) > .grid-item-wrapper{
	left: 20px;
	right: 10px;
}
.gl-3cols li:nth-child(3n+2)> .grid-item-wrapper{
	left: 15px;
	right: 15px;

}
.gl-3cols li:nth-child(3n+3)> .grid-item-wrapper{
	right: 20px;
	left: 10px;
}