/* 2col detail layout*/
div#product-detail-container{
	background: #fff;
}
div#product-detail-container > div{
	width: 100%;
	position: relative;
	float: none;
}
div#product-detail-container.detail-2-cols > div {
	position: relative;
	min-height: 400px;
	float: left;
	text-align: left;
}
.detail-2-cols div#product-detail-col-left {
	width: 40%;
}
.detail-2-cols div#product-detail-col-right{
	width: 60%;
}

/* STYLING THE MAIN PICTURE AREA*/

div#product-detail-col-left > .fit-me-top{
	padding: 0px 20px 20px 20px;
}
div#product-main-view{
	padding-bottom: 120%;
	background-color: #ccc;
	background-image: url('../images/product_pics/nina-black.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #999;
	box-shadow: 0px 0px 4px 1px #ddd;
}
/* STYLING THE MAIN DETAIL AREA*/

div#product-detail-col-right > .fit-me-full{
	padding: 0px 20px 20px 20px;
}
div#product-detail-header h1{
	font-size: 30px;
	margin-bottom: 10px;
}
div#product-detail-header p{
	background-image: url('../images/strip.png');
	font-style: italic;
	padding: 10px;
	margin-bottom: 10px;
}
span.product-price{
	font-size: 24px;
	color: #999;
	margin-bottom: 10px;
}

div#action-bts-group > a{
	text-align: center;
	display: block;
	padding: 10px 20px;
	text-transform: uppercase;
	width: 180px;
	margin: auto;
	font-size: 14px;
	font-weight: lighter;
	margin-bottom: 10px;
	border: 1px solid transparent;
	transition: background-color .2s, color .2s, border .2s;
}
div#action-bts-group > a:hover{
	background-color: #fff;
	border: 1px solid #333;
	color: #333;
}
a#add-to-bag{
	color: #fff;
	background-color: #333;
}
a#check-out{
	color: #fff;
	background-color: #999;
}
a#share-facebook{
	color: #333;
}

a#share-facebook > span{
	display: inline-block;
	line-height: 25px;
	background-color: #333;
	height: 25px;
	width: 25px;
	border-radius: 20px;
	color: #fff;
	text-transform: none;
	margin-left: 10px;
}