<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>И | NEW ARRIVALS</title>
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/product-detail.css">
	<link rel="stylesheet" type="text/css" href="css/categories-menu.css">
	<script type="text/javascript" src="js/jquery2.js"></script>
	<script type="text/javascript" src="js/responsive.js"></script>
	<script type="text/javascript" src="js/elements.js"></script>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>	
	<script type="text/javascript">
		$(document).ready(function(){
			mainLayoutControl();
			searchStyle();
			//gridController();
		})
	</script>
</head>
<body class="clearfix">
	<div id="container" class="desktop-view">
		<!--START HEADER MENU-->	
		<div id="header-menu" class="clearfix">
			<div id="panel-setting">
				<div id="search-box">
					<img src="images/icons/searbt.png" style="float:left;padding-right: 10px;">
					<form id="search-form">
						<input tpye="text" name="search-input" id="search-input" placeholder="search...">
						<div id="search-border"></div>
					</form>
				</div>
				<div id="ajust-view-bt"style="float:right;">
					<img src="images/icons/close-bt.png">
				</div>
			</div>
			<div id="menu-wrapper">
				<div id="main-logo-wrapper">
					<a href="#" id="main-logo">И</a>
				</div>
				<blockquote>
					Fashion is all about showing<br /> WHO YOU ARE.
				</blockquote>
				<div id="main-menu">
					<nav>
						<ul id="main-menu-items">
							<li><a href="#" >New Arrivals</a></li>
							<li><a href="#">Collections</a></li>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#" class="active">Visit store</a></li>
							<li><a href="#">Bag <span>(2)</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div id="socials">
				<a id="facebook-link" href="http://facebook.com">f</a>
				<span id="phone-number">+84 168 340 8828</span>
			</div>
		</div>
		<div id="content-container" class="clearfix">
			<!--Content-header if you want :D-->
			<div class="content-header">
				<div id="categories-menu">
					<nav>
						<ul>
							<li><a href="#">Jacket</a></li>
							<li><a href="#">Top</a></li>
							<li><a href="#">Trouser</a></li>
							<li><a href="#">hat</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<!--PRODUCT DETAIL AREA-->
			<div id="product-detail-container" class="detail-2-cols clearfix">
				<!--product picture-->
				<div id="product-detail-col-left" class="clearfix">
					<div class="fit-me-top">
						<div id="product-main-view" ></div>
						<div id="product-more-view">
							<ul>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>
				</div>
				<!--product details -->
				<div id="product-detail-col-right">
					<div class="fit-me-full">
						<div id="product-detail-header">
							<h1>NINA BLACK</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.</p>
							<span class="product-price">$260<span class="product-old-price">$326</span></span>	
						</div>
						<form id="product-order-form">
							<div id="order-options">
								<ul class="clearfix">
									<li class="clearfix"><label>Quantity</label> <input type="text" class="order-input" value="1"></li>
									<li class="clearfix">
										<label>Size</label>
										<select class="order-input">
											<option>S</option>
											<option>M</option>
											<option>XL</option>
											<option>L</option>
										</select>
									</li >
									<li class="clearfix"><label>Color</label>
										<select class="order-input">
											<option>Red</option>
											<option>Grey</option>
											<option>Green</option>
											<option>Cyan</option>
										</select>
									</li>
								</ul>
							</div>
							<div class="sub-total"><span>$260</span></div>
							<div id="action-bts-group">
								<a href="#" id="add-to-bag">Add to Bag</a>
								<a href="#" id="check-out">Check out</a>
								<a href="#" id="share-facebook">Share to <span>f</span></a>
							</div>
						</form>
					</div>
					

				</div>
			</div>
		</div>
	</div>	
</body>
</html>